{% extends "layout.html" %}

{% block content %}
<div class="col-md-4 col-md-offset-4">
    <h1>Todo List:</h1>
    <table class="table table-striped" style="text-align:center;">
        <th>#</th><th>User</th><th>Description</th><th>Complete</th><th>Remove</th>
        {% for todo in todos %}
            <tr>
                <td>{{ todo.id }}</td>
                <td>{{ todo.user_id }}</td>
                <td>
                    <a href="{{ url_for('todo', id=todo.id) }}">
                       {{ todo.description }}
                    </a>
                </td>
                {% if todo.complete == 0 %}
                <td>
                    <form method="get" action="{{ url_for('todo_mark_complete', id=todo.id) }}">
                        <!-- TASK-2 : A clickable minus button is shown if the task is INCOMPLETE -->
                        <button type="submit" class="btn btn-xs btn-default"><span class="glyphicon glyphicon-minus glyphicon-white"></span></button>
                    </form>
                </td>
                {% elif todo.complete != 0 %}
                <td>
                    <form method="post" action="{{ url_for('todo_mark_incomplete', id=todo.id) }}">
                        <!-- TASK-2 : A clickable check-mark button is shown if the task is COMPLETE -->
                        <button type="submit" class="btn btn-xs btn-primary active"><span class="glyphicon glyphicon-ok glyphicon-white"></span></button>
                    </form>
                </td>
                {% endif %}

                <td>
                    <form method="post" action="{{ url_for('todo_delete', id=todo.id) }}">
                        <button type="submit" class="btn btn-xs btn-danger"><span class="glyphicon glyphicon-remove glyphicon-white"></span></button>
                    </form>
                </td>
            </tr>
        {% endfor %}
        <tr>
            <form method="post" action="{{ url_for('todos_POST') }}">
                <td colspan="3">
                    <!-- TASK-1 : Field 'description' made mandatory on HTML Front End -->
                    <input type="textbox" name="description" class="small-6 small-center" placeholder="Description..." required>
                </td>
                <td></td>
                <td>
                    <button type="submit" class="btn btn-sm btn-primary">Add</button>
                </td>
            </form>
        </tr>

    </table>

    <!-- TASK-1 : Message added if a user tries to enter a to-do without description -->
    {% if descBlankMsg %}
    <p style = "color:red;">Description can not be left blank*</p>
    {% endif %}

    <!-- TASK-4 : Appropriate confirmation messages added as per the operation performed by the user
        confirmMsg is
            0 when a to-do is marked incomplete
            1 when a to-do is marked COMPLETE
            2 when a to-do is deleted
            3 when a to-do is added
     -->
    {% if confirmMsg == '0' %}
    <p style = "font-weight:bold;">A ToDo item marked <span style = "color:#0000FF"> COMPLETED </span> successfully.</p>
    {% elif confirmMsg == '1' %}
    <p style = "font-weight:bold;">A ToDo item marked <span style = "color:#FF00FF">INCOMPLETE </span> successfully.</p>
    {% elif confirmMsg == '2' %}
    <p style = "font-weight:bold;">A ToDo item <span style = "color:#FF0000"> DELETED </span> from the list successfully.</p>
    {% elif confirmMsg == '3' %}
    <p style = "font-weight:bold;">A new ToDo item <span style = "color:#0000FF"> ADDED </span> to the list successfully.</p>
    {% endif %}

</div>
{% endblock %}